@charset "UTF-8";

@font-face {
    font-family: 'SUIT Variable', sans-serif;
    src: url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css")
}

@font-face {
    font-family: 'Pretendard Variable', sans-serif;
    src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css")
}






/*      mouse scroll animation      */
@keyframes wheel {

    0% {
        opacity: 0;
        transform: translateX( -50% );
    }
    20% {
        opacity: 1;
        transform: translateX( -50% );
    }

    80% {
        opacity: 0.3;
        transform: translateX( -50% ) translateY( 6px );
    }

    100% {
        opacity: 0;
        transform: translateX( -50% ) translateY( 6px );
    }

}



/*      about chevron animation      */
@keyframes chevronUp {

    0% { opacity: 0.11; }
    35% { opacity: 0; }
    100% { opacity: 0.11; }

}
@keyframes chevronDown {

    0% { opacity: 0.21; }
    35% { opacity: 0; }
    100% { opacity: 0.21; }

}



/*      about light animation      */
@keyframes light {

    0% {
        opacity: 1;
        transform: translateX( -50% ) translateY( -50% ) rotate( 0deg );
    }

    30% {
        opacity: 0.6;
        transform: translateX( -50% ) translateY( -47.5% ) scale( 0.9 ) rotate( 15deg );
    }

    50% {
        opacity: 1;
        transform: translateX( -50% ) translateY( -50% ) scale( 1.15 ) rotate( -10deg );
    }

    80% {
        opacity: 0.8;
        transform: translateX( -50% ) translateY( -50% ) scale( 0.75 ) rotate( 5deg );
    }

    100% {
        opacity: 1;
        transform: translateX( -50% ) translateY( -50% ) rotate( 0deg );
    }

}



/*      about ellipse animation      */
@keyframes ellipse_01 {

    0% {
        opacity: 1;
        transform: translateX( -50% ) translateY( -50% ) scale( 1 );
    }

    75% {
        opacity: 0;
        transform: translateX( -50% ) translateY( -50% ) scale( 1.5 );
    }

    90% {
        opacity: 0;
        transform: translateX( -50% ) translateY( -50% ) scale( 1 );
    }

    100% {
        opacity: 1;
        transform: translateX( -50% ) translateY( -50% ) scale( 1 );
    }

}

@keyframes ellipse_02 {

    0% {
        opacity: 1;
        transform: translateX( -50% ) translateY( -50% ) scale( 1 );
    }

    75% {
        opacity: 0;
        transform: translateX( -50% ) translateY( -50% ) scale( 1.5 );
    }

    90% {
        opacity: 0;
        transform: translateX( -50% ) translateY( -50% ) scale( 1 );
    }

    100% {
        opacity: 1;
        transform: translateX( -50% ) translateY( -50% ) scale( 1 );
    }

}

@keyframes ellipse_03 {

    0% {
        box-shadow: 0 0 71px rgba( 255, 255, 255, 0.21 ),
        0 0 31px rgba( 255, 255, 255, 0.6 ) inset;
        filter: blur( 10px );
        -webkit-filter: blur( 10px );
    }

    65% {
        box-shadow: 0 0 91px rgba( 255, 255, 255, 0.21 ),
        0 0 62px rgba( 255, 255, 255, 0.6 ) inset;
        filter: blur( 10px );
        -webkit-filter: blur( 10px );
    }

    100% {
        box-shadow: 0 0 71px rgba( 255, 255, 255, 0.21 ),
        0 0 31px rgba( 255, 255, 255, 0.6 ) inset;
        filter: blur( 10px );
        -webkit-filter: blur( 10px );
    }

}

@keyframes circle { 50% { scale: 1.025; } }

@-webkit-keyframes ellipseBackground {
    to {
        -webkit-transform: translateZ( 1px ) rotate( 1turn );
        transform:translateZ( 1px ) rotate( 1turn )
    }
}

@-moz-keyframes ellipseBackground {
    to {
        -moz-transform: translateZ( 1px ) rotate( 1turn );
        transform:translateZ( 1px ) rotate( 1turn )
    }
}

@keyframes ellipseBackground {
    to {
        -webkit-transform: translateZ( 1px ) rotate( 1turn );
        -moz-transform: translateZ( 1px ) rotate( 1turn );
        transform: translateZ( 1px ) rotate( 1turn )
    }
}



/*      light column animation      */
@keyframes lightColumn {
    50% {
        opacity: 0.75;
        transform: translateX( -50% ) scale( 0.975 );
    }
}





/*      header      */

#header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    pointer-events: none;
}

.header_wrap {
    display: flex;
    align-items: center;
    width: 1124px;
    height: 71px;
    margin: 31px auto 0;
    border-radius: 26px;
    background: rgba( 19, 19, 19, 1 );
    box-shadow: 0 -3px 16px rgba( 255, 255, 255, 0.31 ) inset,
                0 6px 11px rgba( 0, 0, 0, 0.41 );
    pointer-events: all !important;
}



/*      header_logo      */

.header_logo {
    flex-shrink: 0;
    width: 145px;
    margin-left: 51px;
    margin-bottom: 4px;
}

.header_logo img {
    width: 100%;
    height: auto;
}



/*      category      */

.category {
    width: 100%;
    padding-top: 5px;
    color: rgba( 255, 255, 255, 1 );
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.category ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 61px;
    width: 100%;
}



/*      lang      */

.lang {
    flex-shrink: 0;
    width: 85px;
    height: calc( 100% - 34px );
    margin-right: 31px;
    color: #c1c1c1;
    font-size: 14px;
    border-radius: 100px;
    background: rgba( 58, 58, 58, 1 );
    box-shadow: 3px 2px 9px rgba( 0, 0, 0, 0.41 ) inset;
}

.lang ul {
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    width: 100%;
    height: 100%;
    padding-left: 2px;
    cursor: pointer;
}

.lang li.on { color: rgba( 255, 255, 255, 1 ); }

.lang span {
    z-index: -1;
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    width: 42px;
    height: 30px;
    border-radius: 100px;
    background: rgba( 19, 19, 19, 1 );
    box-shadow: 1px 2px 6px rgba( 0, 0, 0, 0.35 );
}

/*      header ends      */






/*       container      */

#container {
    width: 100%;
    height: 100%;
}






/*      main      */

#main {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
}



/*      main scroll      */

.main_scroll {
    z-index: 10;
    position: absolute;
    left: 91px;
    bottom: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: rgba( 255, 255, 255, 1 );
    font-size: 14px;
    letter-spacing: 0.05rem;
}

.main_scroll p { padding-top: 0; }

.main_scroll .mouse {
    position: relative;
    width: 16px;
    height: 24px;
    border: 1px solid rgba( 255, 255, 255, 1 );
    border-radius: 100px;
}

.main_scroll .wheel {
    position: absolute;
    top: 6px;
    left: 50%;
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background: rgba( 255, 255, 255, 1 );
    transform: translateX( -50% );
    animation: wheel 1.75s ease-in-out infinite;
}



/*      main banner      */

.main_banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner_wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}



/*      banner nav      */

.banner_nav {
    z-index: 10;
    position: absolute;
    right: 106px;
    bottom: 76px;
    display: flex;
    gap: 21px;
    font-size: 21px;
}

.banner_nav .left, .banner_nav .right {
    cursor: pointer;
    color: rgba( 255, 255, 255, 0.3 );
    transition: 0.35s ease-in-out;
}

.banner_nav .left:hover, .banner_nav .right:hover {
    color: rgba( 255, 255, 255, 1 );
    transition: 0.35s ease-in-out;
}



/*      banner nav      */

.banner_progressbar {
    z-index: 11;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba( 255, 255, 255, 0.3 );
}

.banner_progressbar .progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 1 );
    transition: 1s ease-in-out;
}



/*      banner slide      */

.banner_slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed, scroll;
    background-blend-mode: multiply;
}

.banner_slide.slide_1 { background-image: url("/images/bg_01.png"), linear-gradient( to top, rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0 ) 60% );}
.banner_slide.slide_2 { background-image: url("/images/bg_02.png"), linear-gradient( to top, rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0 ) 60% );}
.banner_slide.slide_3 { background-image: url("/images/bg_03.png"), linear-gradient( to top, rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0 ) 60% );}

/*      main ends      */






/*      notice      */

#notice {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #131313;
    overflow: hidden;
}

.notice_wrap {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 21px;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 48px;
    transition: 0.5s ease-in-out;
}
.notice_wrap.active { gap: 48px; }



/*      news      */

.notice_news {
    z-index: 1;
    position: relative;
    width: 635px;
    height: 305px;
    border-radius: 36px;
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 -3px 16px rgba( 0, 0, 0, 0.31 ) inset,
    0 6px 11px rgba( 0, 0, 0, 0.41 );
    transition: 0.5s ease-in-out;
}
.notice_news.active { height: 701px; }



.more_btn {
    z-index: 2;
    position: absolute;
    top: 36px;
    right: -9px;
    width: 71px;
    padding: 6px 7px 6px 10px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    background: #b2ee41;
    box-shadow: 0 6px 11px rgba( 0, 0, 0, 0.21 );
    cursor: pointer;
    transition: 0.35s ease-in-out;
    overflow: hidden;
}
.more_btn.active {
    width: 79px;
    background: #333333;
}

.more_btn .open { transition: 0.35s ease-in-out; }
.more_btn.active .open { color: #333; }

.more_btn .close {
    color: #b2ee41;
    transition: 0.35s ease-in-out;
}
.more_btn.active .close {
    color: #ffffff;
    font-weight: 400;
}

.btn_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.more_wrap {
    display: flex;
    white-space: nowrap;
    transition: 0.35s ease-in-out;
}
.more_wrap.active { transform: translateX( -52px ); }

.more_btn ion-icon {
    font-size: 13px;
    margin-bottom: -2px;
}



/*      news list      */

.news_list {
    position: relative;
    margin: 36px 41px 39px;
    width: 100%;
    height: calc( 100% - 71px );
}



.notice_title {
    width: calc( 100% - 82px );
    font-weight: 800;
    text-transform: uppercase;
}
.notice_title ion-icon {
    font-size: 19px;
    margin-left: 6px;
    margin-bottom: -2px;
}



.list_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: calc( 100% - 94px );
    height: calc( 100% - 59px );
    margin: 26px 0 0 1px;
    overflow: hidden;
}
.list_wrap.active { overflow-y: scroll; }
.list_wrap li, .list_wrap.active li:nth-child(2) { border-bottom: 1px solid #f1f1f1; }
.list_wrap.active li:last-child { border-bottom: none; }
.list_wrap.active li:last-child .news_text { margin: 11px 0 0; }



.news_item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}



.news_title {
    flex-shrink: 0;
    width: 225px;
    color: #333333;
    font-weight: 600;
    text-transform: uppercase;
}

.news_date {
    margin-top: 6px;
    color: #b1b1b1;
    font-size: 14px;
    letter-spacing: 0.025rem;
}

.news_text {
    width: 57.5%;
    margin: 11px 0 21px;
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.linear_top, .linear_bottom {
    z-index: 1;
    opacity: 0;
    position: absolute;
    left: 0;
    width: calc( 100% - 94px );
    height: 60px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
    /*background: red;*/
}

.linear_top {
    top: 49px;
    background: linear-gradient( to bottom, rgba( 255, 255, 255, 1 ), rgba( 255, 255, 255, 0 ) );
}
.linear_bottom {
    bottom: 0;
    background: linear-gradient( to top, rgba( 255, 255, 255, 1 ), rgba( 255, 255, 255, 0 ) );
}
.linear_bottom.active { opacity: 1; }



/*      news outline      */

.news_outline {
    z-index: 1;
    opacity: 1;
    display: flex;
    position: relative;
    width: 635px;
    height: 375px;
    border-radius: 36px;
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 -3px 16px rgba( 0, 0, 0, 0.31 ) inset,
    0 6px 11px rgba( 0, 0, 0, 0.41 );
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.news_outline.active {
    margin-bottom: -423px;
    opacity: 0;
}

.news_thumb {
    position: relative;
    width: 225px;
    height: 100%;
    border-radius: 33px 0 0 33px;
    background-image: linear-gradient( to right, rgba( 255, 255, 255, 0 ), rgba( 255, 255, 255, 1 )), url("/images/outline_01.png");
    background-size: cover;
    background-position: center center;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}

.outline_wrap {
    position: absolute;
    top: 36px;
    left: 246px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 350px;
    transition: 0.35s ease-in-out;
}

.outline_title {
    margin: 0 0 3px;
    font-weight: 700;
    text-transform: uppercase;
}

.outline_sub {
    margin: 0 0 6px;
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.outline_text {
    margin: 0 0 3px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.outline_text:last-of-type { margin: 0 0 13px; }

.outline_sub_text {
    color: #aaaaaa;
    font-size: 13px;
}

.outline_divider {
    margin: 20px 0 10px;
    border-top: 1px solid #f1f1f1;
}

.outline_more {
    display: flex;
    flex-direction: row-reverse;
    color: #c1c1c1;
    font-size: 13px;
    cursor: pointer;
}
.outline_more ion-icon {
    font-size: 15px;
    margin-bottom: -3px;
}



/*      notice banner      */

.notice_banner {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ntb_inner {
    position: relative;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.ntb_linear_l {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to right, rgba( 19, 19, 19, 1 ) 0%, rgba( 19, 19, 19, 0.5 ) 11%, rgba( 19, 19, 19, 0 ) 26% );
}

.ntb_linear_r {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 100%;
    background-image: linear-gradient( to left, rgba( 19, 19, 19, 1 ) 1%, rgba( 19, 19, 19, 0.5 ) 21%, rgba( 19, 19, 19, 0 ) 36% );
}

.notice_progressbar {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 91px;
    width: 580px;
    height: 2px;
    background-color: rgba( 255, 255, 255, 0.3 );
}
.notice_progressbar .progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 1 );
    transition: 1s ease-in-out;
}


.ntb_wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ntb_slide_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out, left 1s ease-in-out;
}



.ntb_slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.ntb_item {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 126px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 580px;
    height: 100%;
    color: #ffffff;
    cursor: pointer;
}

.ntb_title {
    font-weight: 600;
    text-transform: uppercase;
}

.ntb_sub {
    margin: 9px 0 0;
    color: #cccccc;
    font-weight: 400;
    text-transform: uppercase;
}

.ntb_text {
    margin: 21px 0 0;
    color: rgba( 255, 255, 255, 0.6 );
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.35s ease-in-out;
}

.ntb_more {
    display: flex;
    justify-content: end;
    margin: 11px 0 0;
    width: calc( 100% - 16px );
    color: rgba( 255, 255, 255, 0.6 );
    text-transform: uppercase;
    transition: 0.35s ease-in-out;
}
.ntb_more a {
    display: flex;
    gap: 6px;
}
.ntb_more a ion-icon { font-size: 17px; margin-bottom: -3px; }

.ntb_item:hover .ntb_text,
.ntb_item:hover .ntb_more { color: rgba( 255, 255, 255, 0.8 ); }



.ntb_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 100%;
    overflow: hidden;
}

.ntb_bg_wrap {
    display: flex;
    transition: left 0.75s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.ntb_slide_bg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: left bottom;
    mix-blend-mode: revert;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.ntb_slide_bg.bg_1 { background-image: linear-gradient( to top, rgba( 19, 19, 19, 1 ) 0%, rgba( 19, 19, 19, 0.85 ) 21%, rgba( 19, 19, 19, 0 ) 41% ), url("/images/ntb_01.png");}
.ntb_slide_bg.bg_2 { background-image: linear-gradient( to top, rgba( 19, 19, 19, 1 ) 0%, rgba( 19, 19, 19, 0.85 ) 21%, rgba( 19, 19, 19, 0 ) 41% ), url("/images/ntb_02.png");}
.ntb_slide_bg.bg_3 { background-image: linear-gradient( to top, rgba( 19, 19, 19, 1 ) 0%, rgba( 19, 19, 19, 0.85 ) 21%, rgba( 19, 19, 19, 0 ) 41% ), url("/images/ntb_03.png");}

/*      notice ends      */






/*      about      */



.about_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.about_01, .about_02, .about_03, .about_04, .about_05 {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
    overflow: hidden;
}

.about_01, .about_02 {
    background-color: #131313;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/about_bg01.png");
}

.about_03, .about_04, .about_05 { z-index: 2; }

.about_03 { background-color: #030303; }
.about_04 {
    color: #131313;
    background-color: #ffffff;=
}
.about_05 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/about_bg02.png");
    background-position: center bottom;
    background-attachment: fixed;
}



/*      about scroll      */

.about_scroll {
    z-index: 10;
    position: absolute;
    left: 50%;
    bottom: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.05rem;
    transform: translateX( -50% );
}
.about_04 .about_scroll { color: #131313; }

.about_scroll p { padding-bottom: 2px; }



.scroll_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    opacity: 0.35;
}

.scroll_wrap .mouse {
    position: relative;
    width: 14px;
    height: 21px;
    border: 1px solid rgba( 255, 255, 255, 1 );
    border-radius: 100px;
}
.about_04 .mouse { border: 1px solid rgba( 0, 0, 0, 1 ); }

.scroll_wrap .wheel {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 2px;
    height: 2px;
    border-radius: 100px;
    background: rgba( 255, 255, 255, 1 );
    transform: translateX( -50% );
    animation: wheel 1.75s ease-in-out infinite;
}
.about_04 .wheel { background: rgba( 0, 0, 0, 1 ); }



.scroll_chevron {
    display: flex;
    flex-direction: column;
}

.scroll_chevron .chevron { font-size: 21px; }
.scroll_chevron .chevron:first-of-type {
    opacity: 0.11;
    animation: chevronUp 2s infinite;
}
.scroll_chevron .chevron:last-of-type {
    opacity: 0.21;
    margin-top: -16px;
    animation: chevronDown 2s infinite;
    animation-delay: 0.2s;
}




/*      about inner      */

.about_text {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-weight: 600;
    line-height: 39px;
    transform: translateX( -50% ) translateY( -50% );
}
.about_text p {
    margin-top: 11px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}



/*      about_01 ~ 02      */

.about_light {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 875px;
    transform: translateX( -50% ) translateY( -50% );
    mix-blend-mode: screen;
    animation: light 75s ease-in-out infinite;
}



/*      about_03      */

.about_ellipse {
    width: 100%;
    height: 100%;
}

.about_ellipse .ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 800px;
    height: 800px;
    border-radius: 100%;
}

.about_ellipse .ellipse:nth-of-type(1) {
    box-shadow: 0 0 1px rgba( 255, 255, 255, 1 ) inset;
    filter: blur( 5px );
    -webkit-filter: blur( 5px );
    animation: ellipse_01 7.5s ease-in-out infinite;
}
.about_ellipse .ellipse:nth-of-type(2) {
    box-shadow: 0 0 3px rgba( 255, 255, 255, 1 ) inset;
    filter: blur( 16px );
    -webkit-filter: blur( 16px );
    animation: ellipse_02 7.5s ease-in-out infinite;
}
.about_ellipse .ellipse:nth-of-type(3) {
    box-shadow: 0 0 71px rgba( 255, 255, 255, 0.21 ),
    0 0 31px rgba( 255, 255, 255, 0.6 ) inset;
    filter: blur( 10px );
    -webkit-filter: blur( 10px );
    animation: ellipse_03 7.5s ease-in-out infinite;
}
.about_ellipse .ellipse:nth-of-type(4) {
    box-shadow: 0 0 1px rgba( 255, 255, 255, 1 ) inset;
    filter: blur( 5px );
    -webkit-filter: blur( 3px );
    animation: ellipse_01 5s ease-in-out infinite;
}



/*      about_04      */

.about_circle {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-image: url("/images/circle_bg01.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}
.about_circle .circle {
    position: absolute;
    border-radius: 100%;
}

.about_circle .circle:nth-of-type(1) {
    z-index: 1;
    top: -161px;
    left: -161px;
    width: 450px;
    height: 450px;
    background-color: rgba( 19, 19, 19, 1 );
    box-shadow: 0 4px 61px rgba( 0, 0, 0, 0.5 ), 0 0 75px rgba( 255, 255, 255, 1 ) inset;
    animation: circle 5s ease-in-out infinite;
}

.about_circle .circle:nth-of-type(2) {
    z-index: 2;
    top: 131px;
    left: 131px;
    width: 350px;
    height: 350px;
    background-color: rgba( 19, 19, 19, 0.8 );
    box-shadow: 0 4px 61px rgba( 0, 0, 0, 0.56 ), 0 0 75px rgba( 255, 255, 255, 1 ) inset;
    animation: circle 5s ease-in-out infinite;
    animation-delay: 1s;
}

.about_circle .circle:nth-of-type(3) {
    z-index: 3;
    right: 151px;
    bottom: -61px;
    width: 300px;
    height: 300px;
    background-color: rgba( 19, 19, 19, 0.65 );
    box-shadow: 0 4px 61px rgba( 0, 0, 0, 0.56 ), 0 0 75px rgba( 255, 255, 255, 1 ) inset;
    animation: circle 5s ease-in-out infinite;
    animation-delay: 2s;
}

.about_circle .circle:nth-of-type(4) {
    z-index: 4;
    left: 111px;
    bottom: -91px;
    width: 270px;
    height: 270px;
    background-color: rgba( 19, 19, 19, 0.3 );
    box-shadow: 0 4px 61px rgba( 0, 0, 0, 0.21 ), 0 0 75px rgba( 255, 255, 255, 1 ) inset;
    animation: circle 5s ease-in-out infinite;
    animation-delay: 4s;
}

.about_circle .circle:nth-of-type(5) {
    z-index: 5;
    right: 695px;
    bottom: 349px;
    width: 210px;
    height: 210px;
    background-color: rgba( 19, 19, 19, 0.21 );
    box-shadow: 0 4px 61px rgba( 0, 0, 0, 0.16 ), 0 0 75px rgba( 255, 255, 255, 1 ) inset;
    animation: circle 5s ease-in-out infinite;
    animation-delay: 2s;
}

.about_circle .circle:nth-of-type(6) {
    z-index: 6;
    top: 26px;
    right: -41px;
    width: 365px;
    height: 365px;
    background-color: rgba( 19, 19, 19, 0.13 );
    box-shadow: 0 4px 61px rgba( 0, 0, 0, 0.11 ), 0 0 75px rgba( 255, 255, 255, 1 ) inset;
    animation: circle 5s ease-in-out infinite;
    animation-delay: 3s;
}

.about_circle .circle:nth-of-type(7) {
    z-index: 6;
    top: -56px;
    left: 591px;
    width: 250px;
    height: 250px;
    background-color: rgba( 19, 19, 19, 0.16 );
    box-shadow: 0 4px 61px rgba( 0, 0, 0, 0.13 ), 0 0 75px rgba( 255, 255, 255, 1 ) inset;
    animation: circle 5s ease-in-out infinite;
    animation-delay: 3s;
}

.about_circle > span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    -webkit-animation-name: ellipseBackground;
    -moz-animation-name: ellipseBackground;
    animation-name: ellipseBackground;
    -webkit-animation-duration: 30s;
    -moz-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count:infinite
}

.about_circle > span:first-child {
    color: #999999;
    opacity: .2;
    top: 64%;
    left: 3%;
    -webkit-animation-duration: 18.8s;
    -moz-animation-duration: 18.8s;
    animation-duration: 18.8s;
    -webkit-animation-delay: -10.7s;
    -moz-animation-delay: -10.7s;
    animation-delay: -10.7s;
    -webkit-transform-origin: 14vw -22vh;
    -moz-transform-origin: 14vw -22vh;
    transform-origin: 14vw -22vh;
    -webkit-box-shadow: 100vmin 0 20.5259430347vmin currentColor;
    box-shadow:100vmin 0 20.5259430347vmin currentColor
}

.about_circle > span:nth-child(2) {
    color: #666666;
    opacity: .2;
    top: 24%;
    left: 85%;
    -webkit-animation-duration: 26.5s;
    -moz-animation-duration: 26.5s;
    animation-duration: 26.5s;
    -webkit-animation-delay: -3.1s;
    -moz-animation-delay: -3.1s;
    animation-delay: -3.1s;
    -webkit-transform-origin: -1vw -14vh;
    -moz-transform-origin: -1vw -14vh;
    transform-origin: -1vw -14vh;
    -webkit-box-shadow: 100vmin 0 36.2934581027vmin currentColor;
    box-shadow:100vmin 0 36.2934581027vmin currentColor
}

.about_circle > span:nth-child(3) {
    color: #aaaaaa;
    opacity: .2;
    top: 41%;
    left: 38%;
    -webkit-animation-duration: 26.3s;
    -moz-animation-duration: 26.3s;
    animation-duration: 26.3s;
    -webkit-animation-delay: -9.8s;
    -moz-animation-delay: -9.8s;
    animation-delay: -9.8s;
    -webkit-transform-origin: -5vw -21vh;
    -moz-transform-origin: -5vw -21vh;
    transform-origin: -5vw -21vh;
    -webkit-box-shadow: -100vmin 0 21.6771071789vmin currentColor;
    box-shadow:-100vmin 0 21.6771071789vmin currentColor
}

.about_circle > span:nth-child(4) {
    color: #aaaaaa;
    opacity: .2;
    top: 31%;
    left: 36%;
    -webkit-animation-duration: 32.4s;
    -moz-animation-duration: 32.4s;
    animation-duration: 32.4s;
    -webkit-animation-delay: -3.9s;
    -moz-animation-delay: -3.9s;
    animation-delay: -3.9s;
    -webkit-transform-origin: -24vw -5vh;
    -moz-transform-origin: -24vw -5vh;
    transform-origin: -24vw -5vh;
    -webkit-box-shadow: -100vmin 0 16.8646404307vmin currentColor;
    box-shadow:-100vmin 0 16.8646404307vmin currentColor
}

.about_circle > span:nth-child(5) {
    color: #aaaaaa;
    opacity: .2;
    top: 82%;
    left: 36%;
    -webkit-animation-duration: 30.6s;
    -moz-animation-duration: 30.6s;
    animation-duration: 30.6s;
    -webkit-animation-delay: -2.6s;
    -moz-animation-delay: -2.6s;
    animation-delay: -2.6s;
    -webkit-transform-origin: -7vw -4vh;
    -moz-transform-origin: -7vw -4vh;
    transform-origin: -7vw -4vh;
    -webkit-box-shadow: 100vmin 0 24.5628275968vmin currentColor;
    box-shadow:100vmin 0 24.5628275968vmin currentColor
}

.about_circle > span:nth-child(6) {
    color: #aaaaaa;
    opacity: .2;
    top: 69%;
    left: 33%;
    -webkit-animation-duration: 16.9s;
    -moz-animation-duration: 16.9s;
    animation-duration: 16.9s;
    -webkit-animation-delay: -22.3s;
    -moz-animation-delay: -22.3s;
    animation-delay: -22.3s;
    -webkit-transform-origin: 19vw 0;
    -moz-transform-origin: 19vw 0;
    transform-origin: 19vw 0;
    -webkit-box-shadow: -100vmin 0 30.1798673544vmin currentColor;
    box-shadow:-100vmin 0 30.1798673544vmin currentColor
}

.about_circle > span:nth-child(7) {
    color: #666666;
    opacity: .2;
    top: 5%;
    left: 35%;
    -webkit-animation-duration: 13s;
    -moz-animation-duration: 13s;
    animation-duration: 13s;
    -webkit-animation-delay: -2.4s;
    -moz-animation-delay: -2.4s;
    animation-delay: -2.4s;
    -webkit-transform-origin: 12vw 23vh;
    -moz-transform-origin: 12vw 23vh;
    transform-origin: 12vw 23vh;
    -webkit-box-shadow: 100vmin 0 18.4708847196vmin currentColor;
    box-shadow:100vmin 0 18.4708847196vmin currentColor
}

.about_circle > span:nth-child(8) {
    color: #aaaaaa;
    top: 9%;
    left: 60%;
    -webkit-animation-duration: 31.5s;
    -moz-animation-duration: 31.5s;
    animation-duration: 31.5s;
    -webkit-animation-delay: -29.6s;
    -moz-animation-delay: -29.6s;
    animation-delay: -29.6s;
    -webkit-transform-origin: -16vw -24vh;
    -moz-transform-origin: -16vw -24vh;
    transform-origin: -16vw -24vh;
    -webkit-box-shadow: 100vmin 0 33.2981169125vmin currentColor;
    box-shadow:100vmin 0 33.2981169125vmin currentColor
}

.about_circle > span:nth-child(9) {
    color: #aaaaaa;
    top: 100%;
    left: 63%;
    -webkit-animation-duration: 30.4s;
    -moz-animation-duration: 30.4s;
    animation-duration: 30.4s;
    -webkit-animation-delay: -2.9s;
    -moz-animation-delay: -2.9s;
    animation-delay: -2.9s;
    -webkit-transform-origin: -5vw 14vh;
    -moz-transform-origin: -5vw 14vh;
    transform-origin: -5vw 14vh;
    -webkit-box-shadow: -100vmin 0 28.9639176573vmin currentColor;
    box-shadow:-100vmin 0 28.9639176573vmin currentColor
}

.about_circle > span:nth-child(10) {
    color: #aaaaaa;
    top: 15%;
    left: 30%;
    -webkit-animation-duration: 29.4s;
    -moz-animation-duration: 29.4s;
    animation-duration: 29.4s;
    -webkit-animation-delay: -7.4s;
    -moz-animation-delay: -7.4s;
    animation-delay: -7.4s;
    -webkit-transform-origin: -16vw -16vh;
    -moz-transform-origin: -16vw -16vh;
    transform-origin: -16vw -16vh;
    -webkit-box-shadow: -100vmin 0 20.9210912688vmin currentColor;
    box-shadow:-100vmin 0 20.9210912688vmin currentColor
}



/*      about_05      */

.about_logo {
    margin: 191px 0 0;
    width: 310px;
    height: 70px;
}
.about_logo img {
    width: 100%;
    height: 100%;
}

.logo_sub {
    margin: 9px 0 19px;
    color: #999999;
    font-size: 11px;
}

.logo_text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.light_column {
    position: absolute;
    top: 171px;
    left: 50%;
    width: 330px;
    color: #ffffff;
    font-weight: 400;
    transform: translateX( -50% );
    mix-blend-mode: screen;
    animation: lightColumn 5s ease-in-out infinite;
}

.light_column img { width: 100%; }






/*      menu       */
#menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
}

/*.linear_wrap {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/

/*.menu_linear {*/
/*    z-index: 100;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 50%;*/
/*    background: linear-gradient( to top, rgba( 19, 19, 19, 0.9 ), rgba( 19, 19, 19, 0 ), rgba( 19, 19, 19, 0 ) );*/
/*}*/



/*      menu intro      */
.menu_intro {
    position: relative;
    width: 100%;
    height: 580px;
}

.intro {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 56px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.05rem;
    transform: translateX( -50% );
}

.intro_title {
    margin-bottom: 29px;
    font-weight: 500;
}

.intro_text {
    margin-bottom: 19px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.intro_text:last-child { margin: 0; }



.intro_bg {
    position: relative;
    width: 100%;
    height: 100%;
}



.intro_dg_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.intro_dg {
    position: absolute;
    transform: rotate( -45deg ) translateX( -50% );
}

.intro_dg:nth-child(1) {
    top: 95px;
    left: calc( 50% - 570px );
    width: 135px;
    border-bottom: 1px solid rgba( 19, 19, 19, 0.1 );
}

.intro_dg:nth-child(2) {
    top: 165px;
    left: calc( 50% - 800px );
    width: 220px;
    border-bottom: 1px solid rgba( 19, 19, 19, 0.5 );
}

.intro_dg:nth-child(3) {
    top: 360px;
    left: calc( 50% - 830px );
    width: 350px;
    border-bottom: 1px solid rgba( 19, 19, 19, 0.3 );
}

.intro_dg:nth-child(4) {
    top: 100px;
    left: calc( 50% + 675px );
    width: 180px;
    border-bottom: 1px solid rgba( 19, 19, 19, 0.3 );
}

.intro_dg:nth-child(5) {
    top: 40px;
    left: calc( 50% + 700px );
    width: 500px;
    border-bottom: 1px solid rgba( 19, 19, 19, 0.5 );
}

.intro_dg:nth-child(6) {
    top: 380px;
    left: calc( 50% + 710px );
    width: 300px;
    border-bottom: 1px solid rgba( 19, 19, 19, 0.2 );
}




.intro_cc_wrap {
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX( -50% );
}

.intro_cc {
    position: absolute;
    width: 650px;
    height: 650px;
    background-color: rgba( 19, 19, 19, 0.8 );
    border-radius: 100%;
}
.intro_cc:nth-child(2) {
    width: 800px;
    height: 800px;
    background-color: rgba( 19, 19, 19, 0.3 );
    box-shadow: 0 0 100px #ffffff inset;
}
.intro_cc:nth-child(3) {
    width: 950px;
    height: 950px;
    background-color: rgba( 19, 19, 19, 0.1 );
    box-shadow: 0 0 75px #ffffff inset;
}



/*      menu list      */
.menu_list_wrap {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background-color: #131313;
    box-shadow: 0 -10px 130px rgba( 255, 255, 255, 0.6 );
}

.menu_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin: 56px 0 41px;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.05rem;
}
.menu_scroll p { padding-bottom: 2px; }

.menu_logo {
    width: 105px;
    margin-left: 9px;
    padding: 0;
}

.menu_best {
    margin: 31px 0 46px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
.menu_best span { color: #b2ee41; }