@charset "UTF-8";

@font-face {
    font-family: 'SUIT Variable', sans-serif;
    src: url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css")
}

@font-face {
    font-family: 'Pretendard Variable', sans-serif;
    src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css")
}






/*      mouse scroll animation      */
@keyframes wheel {

    0% {
        opacity: 0;
        transform: translateX( -50% );
    }
    20% {
        opacity: 1;
        transform: translateX( -50% );
    }

    80% {
        opacity: 0.3;
        transform: translateX( -50% ) translateY( 7px );
    }

    100% {
        opacity: 0;
        transform: translateX( -50% ) translateY( 7px );
    }

}






/*      header      */

#header {
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.header_wrap {
    display: flex;
    align-items: center;
    width: calc( 100% - 182px );
    height: 71px;
    margin: 31px auto 0;
    border-radius: 26px;
    background: rgba( 19, 19, 19, 1 );
    box-shadow: 0 -3px 16px rgba( 255, 255, 255, 0.31 ) inset,
                0 6px 11px rgba( 0, 0, 0, 0.41 );
}



/*      header_logo      */

.header_logo {
    flex-shrink: 0;
    width: 150px;
    margin-left: 51px;
    margin-bottom: 4px;
}

.header_logo img {
    width: 100%;
    height: auto;
}



/*      category      */

.category {
    width: 100%;
    padding-top: 4px;
    color: rgba( 255, 255, 255, 1 );
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.category ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 86px;
    width: 100%;
}



/*      lang      */

.lang {
    flex-shrink: 0;
    width: 90px;
    height: calc( 100% - 34px );
    margin-right: 31px;
    color: #c1c1c1;
    font-size: 14px;
    border-radius: 100px;
    background: rgba( 58, 58, 58, 1 );
    box-shadow: 3px 2px 9px rgba( 0, 0, 0, 0.41 ) inset;
}

.lang ul {
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    width: 100%;
    height: 100%;
    padding-left: 2px;
    cursor: pointer;
}

.lang li.on { color: rgba( 255, 255, 255, 1 ); }

.lang span {
    z-index: -1;
    position: absolute;
    top: 3px;
    left: 4px;
    display: block;
    width: 44px;
    height: 31px;
    border-radius: 100px;
    background: rgba( 19, 19, 19, 1 );
    box-shadow: 1px 2px 6px rgba( 0, 0, 0, 0.35 );
}

/*      header ends      */






/*       container      */

#container {
    width: 100%;
    height: 100%;
}






/*      main      */

#main {
    position: relative;
    width: 100%;
    height: 100%;
}



/*      main scroll      */

.main_scroll {
    z-index: 10;
    position: absolute;
    left: 91px;
    bottom: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: rgba( 255, 255, 255, 1 );
    font-size: 16px;
    letter-spacing: 0.05rem;
}

.main_scroll p { padding-top: 1px; }

.main_scroll .mouse {
    position: relative;
    width: 19px;
    height: 26px;
    border: 2px solid rgba( 255, 255, 255, 1 );
    border-radius: 100px;
}

.main_scroll .wheel {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: rgba( 255, 255, 255, 1 );
    transform: translateX( -50% );
    animation: wheel 1.75s ease-in-out infinite;
}



/*      main banner      */

.main_banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner_wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}



/*      banner nav      */

.banner_nav {
    z-index: 10;
    position: absolute;
    right: 106px;
    bottom: 76px;
    display: flex;
    gap: 21px;
    font-size: 21px;
}

.banner_nav .left, .banner_nav .right {
    cursor: pointer;
    color: rgba( 255, 255, 255, 0.3 );
    transition: 0.35s ease-in-out;
}

.banner_nav .left:hover, .banner_nav .right:hover {
    color: rgba( 255, 255, 255, 1 );
    transition: 0.35s ease-in-out;
}



/*      banner nav      */

.banner_progressbar {
    z-index: 11;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba( 255, 255, 255, 0.3 );
}

.banner_progressbar .progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 1 );
    transition: 1s ease-in-out;
}



/*      banner slide      */

.banner_slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed, scroll;
    background-blend-mode: multiply;
}

.banner_slide.slide_1 { background-image: url("/images/bg_01.png"), linear-gradient( to top, rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0 ) 60% );}
.banner_slide.slide_2 { background-image: url("/images/bg_02.png"), linear-gradient( to top, rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0 ) 60% );}
.banner_slide.slide_3 { background-image: url("/images/bg_03.png"), linear-gradient( to top, rgba( 0, 0, 0, 0.7 ), rgba( 0, 0, 0, 0 ) 60% );}

/*      main ends      */






/*      notice      */

#notice {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #131313;
}

.notice_wrap {
    z-index: 10;
    position: absolute;
    right: 96px;
    top: 153px;
    display: flex;
    flex-direction: column;
}



/*      news      */

.notice_news {
    position: relative;
    width: 860px;
    height: 310px;
    border-radius: 36px;
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 -3px 16px rgba( 0, 0, 0, 0.31 ) inset,
    0 6px 11px rgba( 0, 0, 0, 0.41 );
}



.more_btn {
    position: absolute;
    top: 39px;
    right: -9px;
    padding: 6px 7px 6px 10px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    background: rgba( 178, 238, 65, 1 );
    box-shadow: 0 6px 11px rgba( 0, 0, 0, 0.21 );
    cursor: pointer;
}
.more_btn ion-icon {
    font-size: 13px;
    margin-bottom: -2px;
}



/*      news list      */

.news_list {
    margin: 41px 46px;
    width: 100%;
    height: calc( 100% - 92px );
    overflow: hidden;
}



.notice_title {
    font-weight: 800;
    text-transform: uppercase;
}
.notice_title ion-icon {
    font-size: 20px;
    margin-left: 11px;
    margin-bottom: -2px;
}



.news_list ul {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: calc( 100% - 94px );
    margin: 21px 0 0 1px;
}

.news_item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}



.news_title {
    flex-shrink: 0;
    width: 225px;
    color: #333333;
    font-weight: 600;
    text-transform: uppercase;
}

.news_text {
    width: 60%;
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_date {
    position: absolute;
    right: 0;
    color: #b1b1b1;
    font-size: 14px;
    letter-spacing: 0.025rem;
}



/*      news banner      */

.news_outline {
    position: relative;
    display: flex;
    width: 860px;
    height: 365px;
    margin-top: 26px;
    border-radius: 36px;
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 -3px 16px rgba( 0, 0, 0, 0.31 ) inset,
    0 6px 11px rgba( 0, 0, 0, 0.41 );
}

.news_thumb {
    flex-shrink: 0;
    width: 350px;
    height: 100%;
    border-radius: 33px 0 0 33px;
    background-image: url("/images/outline_01.png");
    background-size: cover;
    background-position: center center;
    mix-blend-mode: multiply;
}

.outline_wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin: 31px 36px;
}

.outline_title {
    margin: 0 0 3px;
    font-weight: 700;
    text-transform: uppercase;
}

.outline_sub {
    margin: 0 0 6px;
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.outline_text {
    margin: 0 0 3px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.outline_text:last-of-type { margin: 0 0 13px; }

.outline_sub_text {
    color: #aaaaaa;
    font-size: 13px;
}

.outline_divider {
    margin: 20px 0 10px;
    border-top: 1px solid #f1f1f1;
}

.outline_more {
    display: flex;
    flex-direction: row-reverse;
    color: #c1c1c1;
    font-size: 13px;
    cursor: pointer;
}
.outline_more ion-icon {
    font-size: 15px;
    margin-bottom: -3px;
}



/*      notice banner      */
.notice_banner {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
}

.notice_progressbar {
    z-index: 2;
    position: absolute;
    left: 91px;
    bottom: 91px;
    width: 750px;
    height: 2px;
    background-color: rgba( 255, 255, 255, 0.3 );
}
.notice_progressbar .progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 1 );
    transition: 1s ease-in-out;
}


.ntb_wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ntb_linear {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to left, rgba( 19, 19, 19, 1 ) 10%, rgba( 19, 19, 19, 0.5 ) 21%, rgba( 19, 19, 19, 0 ) 36% );
}

.ntb_slide_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out, left 1s ease-in-out;
}



.ntb_slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: left bottom;
    mix-blend-mode: revert;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.ntb_slide.banner_1 { background-image: linear-gradient( to top, rgba( 19, 19, 19, 1 ) 0%, rgba( 19, 19, 19, 0.85 ) 21%, rgba( 19, 19, 19, 0 ) 41% ), url("/images/ntb_01.png");}
.ntb_slide.banner_2 { background-image: linear-gradient( to top, rgba( 19, 19, 19, 1 ) 0%, rgba( 19, 19, 19, 0.85 ) 21%, rgba( 19, 19, 19, 0 ) 41% ), url("/images/ntb_02.png");}
.ntb_slide.banner_3 { background-image: linear-gradient( to top, rgba( 19, 19, 19, 1 ) 0%, rgba( 19, 19, 19, 0.85 ) 21%, rgba( 19, 19, 19, 0 ) 41% ), url("/images/ntb_03.png");}

.ntb_item {
    z-index: 2;
    position: absolute;
    left: 92px;
    bottom: 126px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 750px;
    height: 100%;
    color: #ffffff;
    cursor: pointer;
}

.ntb_title {
    font-weight: 600;
    text-transform: uppercase;
}

.ntb_sub {
    margin: 9px 0 0;
    color: #cccccc;
    font-weight: 400;
    text-transform: uppercase;
}

.ntb_text {
    margin: 21px 0 0;
    color: rgba( 255, 255, 255, 0.6 );
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.35s ease-in-out;
}

.ntb_more {
    display: flex;
    justify-content: end;
    margin: 11px 0 0;
    width: calc( 100% - 16px );
    color: rgba( 255, 255, 255, 0.6 );
    text-transform: uppercase;
    transition: 0.35s ease-in-out;
}
.ntb_more a {
    display: flex;
    gap: 6px;
}
.ntb_more a ion-icon { font-size: 17px; margin-bottom: -3px; }

.ntb_item:hover .ntb_text,
.ntb_item:hover .ntb_more { color: rgba( 255, 255, 255, 0.8 ); }
/*      notice ends      */






/*      about      */

#about {
    width: 100%;
    height: 100%;
    background: aliceblue;
    /*overflow: hidden;*/
}



.about_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/about_bg01.png");
}



.about_section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#about_01, #about_02 { color: #ffffff; }



.about_scroll {
    z-index: 10;
    position: absolute;
    left: 50%;
    bottom: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.05rem;
    transform: translateX( -50% );
}

.about_scroll p { padding-bottom: 2px; }



.scroll_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.scroll_wrap .mouse {
    position: relative;
    width: 14px;
    height: 21px;
    border: 1px solid rgba( 255, 255, 255, 1 );
    border-radius: 100px;
}

.scroll_wrap .wheel {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 2px;
    height: 2px;
    border-radius: 100px;
    background: rgba( 255, 255, 255, 1 );
    transform: translateX( -50% );
    animation: wheel 1.75s ease-in-out infinite;
}



.scroll_chevron {
    display: flex;
    flex-direction: column;
}a
.scroll_chevron .chevron { font-size: 21px; }




.about_text {
    z-index: 10;
    text-align: center;
    font-weight: 600;
    line-height: 39px;
}



.about_light {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 875px;
    transform: translateX( -50% ) translateY( -50% );
    mix-blend-mode: screen;
}